@model List<MiniShopMVC.Models.Entities.Category>

@{
    ViewData["Title"] = "Category";
}

<div class="text-center">
    <h1 class="display-4">Category Page</h1>
    <p>Welcome to the Category Page of MiniShopMVC!</p>

    <div class="mb-3 text-end">
        <a href="@Url.Action("Create", "Category")"
           class="btn btn-primary"
           style="background-color: white; color: black; font-size: 32px; border-radius: 67%; border-color: black">
            +
        </a>
    </div>

    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">

                        <h5 class="card-title">@category.Id</h5>
                        <h5 class="card-title">@category.Name</h5>

                        <div class="d-flex justify-content-center gap-2 mt-3">

                            <!-- EDIT -->
                            <a asp-controller="Category"
                               asp-action="Edit"
                               asp-route-id="@category.Id"
                               class="btn btn-sm btn-outline-primary">
                                ✏️
                            </a>

                            <!-- DELETE -->
                            <form asp-controller="Category"
                                  asp-action="Delete"
                                  asp-route-id="@category.Id"
                                  method="post">
                                <button class="btn btn-sm btn-outline-danger" type="submit">
                                    ⨯️
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>