@model List<MiniShopMVC.Models.Entities.Product>

<h1 class="display-4">Продукты</h1>

<a href="@Url.Action("Create", "Product")" class="btn btn-primary mb-3">
    Добавить +
</a>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">

                    <h5 class="card-title">@product.Name</h5>
                    <p>@product.Description</p>
                    <p><strong>Цена:</strong> @product.Price</p>
                    <p><strong>Категория:</strong> @product.Category.Name</p>

                    <div class="d-flex justify-content-center gap-2 mt-3">

                        <!-- EDIT -->
                        <a asp-controller="Product"
                           asp-action="Edit"
                           asp-route-id="@product.Id"
                           class="btn btn-sm btn-outline-primary">
                            ✏️
                        </a>

                        <!-- DELETE -->
                        <form asp-controller="Product"
                              asp-action="Delete"
                              asp-route-id="@product.Id"
                              method="post">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-outline-danger" type="submit">
                                ⨯️
                            </button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    }
</div>